{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div class="hero__author" itemscope itemtype="http://schema.org/Person">
  <div class="hero__author-avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="hero__author-content">
    <h3 class="hero__author-name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="hero__author-pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="hero__author-bio">{{ author.bio }}</p>{% endif %}

    <ul class="hero__author-links">
      {% if author.location %}<li><i class="fas fa-fw fa-location-dot" aria-hidden="true"></i>{{ author.location }}</li>{% endif %}
      {% if author.employer %}<li><i class="fas fa-fw fa-building-columns" aria-hidden="true"></i>{{ author.employer }}</li>{% endif %}
      {% if author.uri %}<li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>{% endif %}
      {% if author.email %}<li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>{% endif %}
      {% if author.github %}<li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>{% endif %}
      {% if author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>{% endif %}
      {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i>Google Scholar</a></li>{% endif %}
    </ul>
  </div>
</div>
